body {
  background: #f2f2f2;
  color: #222222;
  font-size: 1rem;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-content {
  width: clamp(360px, 80%, 678px);
}

.clock-section {
  margin-bottom: 2rem;
}

.quote-section {
}
